{% extends 'coronastats/base.html' %} 
{% load crispy_forms_tags %} 
{% load static %} 
{% block content %}
	<div class="bg-black pt-5">
  		<div class="container mb-5">
  			<h1 class="text-center font-weight-bold color-white text-white mb-5">World Map from the Beginning</h1>
  			<div class="text-center mb-5">
  				<img src="{% static 'coronastats/gif/Dynamic Covid-19 progression.gif' %}" class="rounded">
  			</div>
  			<h1 class="text-center font-weight-bold color-white text-white">World Rankings</h1>
  			<div class="d-flex flex-row justify-content-between mt-5">
  				<div>
  					<h2 class="text-center font-weight-bold color-white text-white">Confirmed cases</h2>
  					<table class="table">
  						<thead>
  							<tr class="table-warning text-center">
  								<th>Country</th>
  								<th>Cases</th>
  							</tr>
  						</thead>
  						<tbody>
  							{% for item in total_cases %}
  								<tr class="table-warning text-center">
  									<td>{{ item.country }}</td>
  									<td>{{ item.cases }}</td>
  								</tr>
  							{% endfor %}
  						</tbody>
  					</table>
  				</div>
  				<div>
  					<h2 class="text-center font-weight-bold color-white text-white">New cases</h2>
  					<table class="table">
  						<thead>
  							<tr class="table-danger text-center">
  								<th>Country</th>
  								<th>Cases</th>
  							</tr>
  						</thead>
  						<tbody>
  							{% for item in new_cases %}
  								<tr class="table-danger text-center">
  									<td>{{ item.country }}</td>
  									<td>{{ item.cases }}</td>
  								</tr>
  							{% endfor %}
  						</tbody>
  					</table>
  				</div>
  				<div>
  					<h2 class="text-center font-weight-bold color-white text-white">Deaths</h2>
  					<table class="table">
  						<thead>
  							<tr class="bg-danger text-center">
  								<th>Country</th>
  								<th>Deaths</th>
  							</tr>
  						</thead>
  						<tbody>
  							{% for item in deaths %}
  								<tr class="bg-danger text-center">
  									<td>{{ item.country }}</td>
  									<td>{{ item.deaths }}</td>
  								</tr>
  							{% endfor %}
  						</tbody>
  					</table>
  				</div>
  			</div>
		</div>
	</div>
{% endblock %}